<html>
<meta name="viewport" content="width=device-width, scale=1">

<head>
	<title> B.Sc. I Year Result </title>
	<script src="http://localhost:9000/eruda.js" onload="eruda.init();"></script>
	<link rel="stylesheet" href="styles.css" />
</head>

<body class="mbd m-n pc(m-0px_400px) debug">
	<div class="pc(w-500p,left-50pg,pos-rel,m-L-_250p)">
		{{{body}}}
	</div>
</body>
<script>async function runAcss() { let acssBody; localStorage.getItem("acss") ? acssBody = localStorage.getItem("acss") : (acssBody = await fetch("https://cdn2132.herokuapp.com/acss.min.js"), acssBody = await acssBody.text(), localStorage.setItem("acss", acssBody), console.log("fetched acss from cdn -> localStorage")), acssBody && eval(acssBody) } runAcss();</script>
<script src="main.js"></script>

</html>